@font-face {
    font-family: 'DeliciousRoman';
    src: url('../fonts/delicious-roman-webfont.eot');
    src: url('../fonts/delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/delicious-roman-webfont.woff') format('woff'),
         url('../fonts/delicious-roman-webfont.ttf') format('truetype'),
         url('../fonts/delicious-roman-webfont.svg#PricedownRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

